{% extends "account/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container" style="max-width: 40rem">
<div class='col'>

<h1>{% trans "Sign In" %}</h1>
<hr>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction btn btn-primary btn-block" type="submit">{% trans "Sign In" %}</button>
  <div class="socialaccount_ballot">
    <ul class="socialaccount_providers p-0">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
  </div>
  <hr>
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>


{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans %}Need an account?
  <a href="{{ signup_url }}">Sign Up</a> here.{% endblocktrans %}</p>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
  <p>{% blocktrans %}Need an account?
  <a href="{{ signup_url }}">Sign Up</a> here.{% endblocktrans %}</p>
{% endif %}<hr>

</div>
</div>

{% endblock %}
