<div>
<!-- Footer -->
<footer class="page-footer bg-secondary text-white">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Administrator</h5>
        <p>I am Nischal Shrestha, author of this website.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate
          esse
          quasi, veritatis totam voluptas nostrum.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a class='mr-2 text-white' href="https://garnu6.herokuapp.com">To-Do</a>
            </p>
          </li>
          <li>
            <p>
              <a class='mr-2 text-white' target='_blank' href="https://inischal.pythonanywhere.com">Blog</a>
            </p>
          </li>
          <li>
            <p>
              <a class='mr-2 text-white' target='_blank' href="https://nischalstha9.github.io">About Me</a>
            </p>
          </li>
          <li>
            <p>
              <a class='mr-2 text-white' href="https://khulakhabar.herokuapp.com/">Fresh News</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>Kathmandu, 00977, NP</p>
          </li>
          <li>
            <p>nischalstha9@gmail.com</p>
          </li>
          <li>
            <p>+977 9843481901</p>
          </li>
          <li>
            <p>+977 9810374388</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <div class='social-icons'>
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

        <!-- Facebook -->
        <a href="https://www.facebook.com/see.eu.again" type="button" class="social-icon mx-2 my-2 text-white">
          <i class="fab fa-facebook-f"></i><br>
        <!-- Dribbble -->
        <a href="https://www.linkedin.com/in/nischal-shrestha-3002621a1/" type="button" class="social-icon mx-2 my-2 text-white">
          <i class="fab fa-linkedin-in"></i>         
        </a>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
</footer>
<!-- Footer -->
<!-- Footer 2-->
  <footer class="py-0 bg-dark">
      <p class="m-0 text-center text-white">Copyright &copy; ABC Tickets 2020 By <svg class="bi bi-clock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
</svg> 5 A.M</p>
    <!-- /.container -->
</footer>
</div>
