<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand js-scroll-trigger" href="/">
    <img src="/media/favicon.png" height='30' width='30' class="d-inline-block align-top"><span class='typewriter'>BlogName</span>
  </a>
  <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {% comment %} <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> {% endcomment %}
    </ul>
    <form class="form-inline my-2 my-lg-0" method='GET' action='/search'>
      <input class="form-control my-1 mr-sm-2" required='required' type="search" placeholder="Search Headlines" name='q' data-toggle="popover" data-placement="bottom" data-content="Press enter to search" value="{{ query }}" style="" data-original-title="" title="">
    </form>
      {% if user.is_authenticated %}
        <a class="text-secondary mr-2" href="{% url 'profile' %}" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <img class='rounded-circle profile-img' src='{{ user.profile.dp.url }}' height=30px width=30px>{% if user.first_name %}{{ user.first_name }}{% else %}@{{ user.username }}{% endif %}
        </a>
        <a class="btn btn-sm btn-outline-dark" href="{% url 'account_logout' %}">Sign Out?</a>
      {% else %}
        <a class="btn mr-1 mb-1 btn-sm btn-outline-success" href="{% url 'account_login' %}">Sign In</a>
        <a class="btn btn-sm mb-1 btn-warning" href="{% url 'account_signup' %}">Signup</a>
      {% endif %}
  </div>
</nav>